<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/home/main0.css">
    <link rel="stylesheet" href="/css/home/main.css">
    <script type="text/javascript" src="/js/home/main.js"></script>
    <title>19시 :: 일 구하고 시퍼</title>
</head>

<body>
<section class="main-section">
    {{#loginMember}}
        <div class="main-top-info-container">
            <div class="top-info-left">
                <div class="top-info-left-title">
                    <span>다양한 방법으로</span><br>
                    전문가를 만나보세요!
                </div>
                <div class="request-container">
                    <a href="/requestList?reqPage=1&order=new&subject=all&keyword=">
                        <img src="img/index/banner/custom.png" width="50px" alt="">
                        맞춤 견적
                    </a>
                </div>
            </div>
            <div class="banner-container">
                <div class="bannerArrow">
                    <span class="banner-prev" id="arrow_prev">&lt;</span>
                    <span class="banner-next" id="arrow_next">&gt;</span>
                </div>
                <div class="banner-slider">
                    <img src="/img/index/banner/banner1.png" alt="">
                    <img src="img/index/banner/banner2.png" alt="">
                    <img src="img/index/banner/banner3.png" alt="">
                </div>
            </div>
            <div class="member-info-container">
                <div class="member-info-name">
                    반가워요<br><span>{{MemberId}}</span>님!
                </div>
                <div class="member-info-buying">
                    구매 진행 중<span><span>{{buyingCount}}</span> 건</span>
                </div>
                <div class="member-info-selling">
                    판매 진행 중<span><span>{{sellingCount}}</span> 건</span>
                </div>
            </div>
        </div>
    {{/loginMember}}

    {{^loginMember}}
        <div class="banner-container">
            <div class="bannerArrow">
                <span class="banner-prev" id="arrow_prev">&lt;</span>
                <span class="banner-next" id="arrow_next">&gt;</span>
            </div>
            <div class="banner-slider">
                <div class="banner-item"><img src="img/index/banner/banner1.png" alt=""></div>
                <img src="img/index/banner/banner2.png" alt="">
                <img src="img/index/banner/banner3.png" alt="">
            </div>
        </div>
    {{/loginMember}}

    {{#categoryList}}{{#imgUrl}}
        <div class="slider-container">
            <div class="famous-category-slider">
                <div class="slider-top">
                    <div class="slider-title">
                        <span>{{categoryNm}} </span>카테고리 에서 인기있어요!
                    </div>
                    <div class="arrowSlider">
                        <span class="prev" id="arrow1_prev">&lt;</span>
                        <span class="next" id="arrow1_next">&gt;</span>
                    </div>
                </div>
                <div class="famous-category-list">
                    {{#subCategoryList}}
                        <div class="category-item">
                            <a href="/serviceListPage?categoryCd={{categoryCd}}&mainCategoryCd={{mainCategoryCd}}&reqPage=1&order=new&keyword=">
                                <img src="{{imgUrl}}" alt="">
                                <div class="category-title-background"></div>
                                <div class="category-title">{{categoryNm}}</div>
                            </a>
                        </div>
                    {{/subCategoryList}}
                </div>
            </div>
        </div>
        {{/imgUrl}}{{/categoryList}}

    <div class="single-banner1">
        <img src="img/index/banner/banner4.png" alt="">
    </div>

    <!--rank-->
    <!-- 랭크 부분 -->
    <div class="rank-container">
        <div class="rank-description">
            <div>TOP 전문가 랭킹</div>
            <div>19시에서 가장 많이 판매한 인기 전문가 랭킹 입니다.</div>
        </div>
        <div class="rank-content">
            <div class="rank-list">
                <div class="rank-top-background">
                    <div class="rank-category-title"></div>
                    <div class="rank-1th-container">
                        <div class="rank-1th-col1 r-col">1위</div>
                        <div class="rank-1th-col2 r-col">
                            <div>
                                <div>총 판매 금액</div>
                                <div class="sumPrice"></div>
                                <div class="free-id">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rank-row">
                    <div class="rank-col-1 r-col">2위</div>
                    <div class="rank-col-2 r-col"></div>
                    <div class="rank-col-3 r-col"></div>
                </div>
                <div class="rank-row">
                    <div class="rank-col-1 r-col">3위</div>
                    <div class="rank-col-2 r-col"></div>
                    <div class="rank-col-3 r-col"></div>
                </div>
                <div class="rank-row">
                    <div class="rank-col-1 r-col">4위</div>
                    <div class="rank-col-2 r-col"></div>
                    <div class="rank-col-3 r-col"></div>
                </div>
                <div class="rank-row">
                    <div class="rank-col-1 r-col">5위</div>
                    <div class="rank-col-2 r-col"></div>
                    <div class="rank-col-3 r-col"></div>
                </div>
            </div>
            <div class="rank-list">
                <div class="rank-top-background">
                    <div class="rank-category-title"></div>
                    <div class="rank-1th-container">
                        <div class="rank-1th-col1 r-col">1위</div>
                        <div class="rank-1th-col2 r-col">
                            <div>
                                <div>총 판매 금액</div>
                                <div class="sumPrice">154,997,581원</div>
                                <div class="free-id">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rank-row">
                    <div class="rank-col-1 r-col">2위</div>
                    <div class="rank-col-2 r-col"></div>
                    <div class="rank-col-3 r-col"></div>
                </div>
                <div class="rank-row">
                    <div class="rank-col-1 r-col">3위</div>
                    <div class="rank-col-2 r-col"></div>
                    <div class="rank-col-3 r-col"></div>
                </div>
                <div class="rank-row">
                    <div class="rank-col-1 r-col">4위</div>
                    <div class="rank-col-2 r-col"></div>
                    <div class="rank-col-3 r-col"></div>
                </div>
                <div class="rank-row">
                    <div class="rank-col-1 r-col">5위</div>
                    <div class="rank-col-2 r-col"></div>
                    <div class="rank-col-3 r-col"></div>
                </div>
            </div>
            <div class="rank-list">
                <div class="rank-top-background">
                    <div class="rank-category-title">주문제작</div>
                    <div class="rank-1th-container">
                        <div class="rank-1th-col1 r-col">1위</div>
                        <div class="rank-1th-col2 r-col">
                            <div>
                                <div>총 판매 금액</div>
                                <div class="sumPrice"></div>
                                <div class="free-id">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rank-row">
                    <div class="rank-col-1 r-col">2위</div>
                    <div class="rank-col-2 r-col"></div>
                    <div class="rank-col-3 r-col"></div>
                </div>
                <div class="rank-row">
                    <div class="rank-col-1 r-col">3위</div>
                    <div class="rank-col-2 r-col"></div>
                    <div class="rank-col-3 r-col"></div>
                </div>
                <div class="rank-row">
                    <div class="rank-col-1 r-col">4위</div>
                    <div class="rank-col-2 r-col"></div>
                    <div class="rank-col-3 r-col"></div>
                </div>
                <div class="rank-row">
                    <div class="rank-col-1 r-col">5위</div>
                    <div class="rank-col-2 r-col"></div>
                    <div class="rank-col-3 r-col"></div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>