<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<script>
		alert("{{msg}}");
		location.href = "{{loc}}";
		if({{close}} == true)
		  window.open('','_self').close(); 
		
	</script>
</body>
</html>