<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>19시(관리자) :: 메세지보내기({{member.memberId}})</title>
<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180"
	href="favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
	href="favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"
	href="favicon_io/favicon-16x16.png">
<script src="https://code.jquery.com/jquery-3.5.1.js"
	integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>

	<link rel="stylesheet" href="/css/admin/adminMessage.css">
	<script type="text/javascript" src="/js/admin/adminMessage.js"></script>

</head>
<body>
	<div class="wrap">
		<div id="title">
			<img src="/img/logo/logo-chat_navy.png" width=130px;><br>
			회원 <b>{{member.memberId}}</b>에게 알림
			</h1>
		</div>

		<div id="input">
			<textarea class="message"></textarea>
		</div>

		<div id="button">
			<button class="btn submit" onclick="sendMsg();">전송</button>
			<button class="btn close" onclick="close();">닫기</button>
		</div>
	</div>
</body>
</html>