
        @font-face {
            font-family: 'Arita-dotum-Medium';
            src:
                url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        .qna-section {
            font-family: 'Arita-dotum-Medium';
            margin: 0 auto;
            width: 1200px;
        }

        .qna-container {
            margin: 0 auto;
            width: 90%;
        }
        
        .qna-top {
            position: relative;
            margin: 50px auto;
            width: 90%;
            height: 300px;
            padding: 1px;
            background-color: rgb(224, 224, 224, 0.5);
        }
        #qna-img{
            position: absolute;
            width:100%;
            height: 300px;
            object-fit: cover;
            z-index: -1;
        }

        .qna-top>.title {
            width: 100%;
            margin-top: 60px;
            margin-left: 50px;

        }

        .qna-top>.title>.title-main {
            font-size: 30px;
            border-left: 4px solid #314C83;
            padding-left: 10px;
            margin-bottom: 10px;
        }

        .qna-center {
            margin: 0 auto;
            width: 90%;
        }

        .qna-center>table {
            width: 100%;
            height: 600px;
            border-top: 2px solid #314C83;
            border-bottom: 2px solid #314C83;
        }

        .qna-center>table>thead {
            background-color: rgb(224, 224, 224, 0.5);
        }

        .qna-center .qna-col1 {
            width: 100px;
            height: 40px;
            text-align: center;
            font-size: 15px;
        }

        .qna-center .qna-col2>input {
            width: 700px;
            height: 30px;
            border-radius: 4px;
            outline: none;
            border: 1px solid lightgray;
        }

        .qna-bottom {
            margin: 10px auto;
            width: fit-content;
        }

        #qContent {
            width: 100%;
            height: 95%;
            resize: none;
        }

        .btn-quest {
            display: inline-block;
            outline: none;
            border: none;
            width: 70px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            text-decoration: none;
            color: white;
        }

        .btn-quest:hover {
            color: white;
            text-decoration: none;
        }

        .btn-white {
            display: inline-block;
            outline: none;
            width: 70px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            background-color: white;
            border: 2px solid #314C83;
            border-radius: 5px;
            text-decoration: none;
            color: #314C83;
        }
