<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180"
          href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="favicon_io/favicon-16x16.png">

    <script type="text/javascript" src="/SE2/js/HuskyEZCreator.js" charset="utf-8"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <link rel="stylesheet" href="/css/notice/noticeUpdateFrm.css">
    <script type="text/javascript" src="/js/notice/noticeUpdateFrm.js"></script>

    <title>19시 :: 공지사항 수정</title>

</head>
<body>
<div class="header">
    {{>common/header}}
	</div>
	 <div class="page-wrap">
        <div class="text-box">
            <div>홈 > 게시판 > 공지사항 > 수정하기</div>
            <div>공지사항_수정</div>
        </div>
         <div class="board-box">
            <form id="reqForm" action="/updateNotice?noticeNo={{notice.NoticeNo}}" method="post" enctype="multipart/form-data">
                <table class="table title-box">
                    <tr>
                        <th style="width: 10%;border-top: 2px solid rgb(49, 76, 131);text-align: center;line-height: 31px;">제목</th>
                        <th style="width: 75%;border-top: 2px solid rgb(49, 76, 131);">
                            <input type="hidden" name="noticeNo" value="{{notice.NoticeNo}}">
                            <input type="text" name="noticeTitle" id="title" value="{{notice.NoticeTitle}}">
                        </th>
                        <th style="width: 15%;border-top: 2px solid rgb(49, 76, 131);text-align: center;"></th>
                    </tr>
                    <tr>
                        <th style="border-top: 0px;text-align: center;">첨부파일</th>
                        <th style="border-top: 0px">
                            <input type="file" name="file" value="찾기" multiple>
                        </th>
                        <th style="border-top: 0px"></th>
                    </tr>
                </table>
                <div>
                    <table style="width:100%;height:500px;">
                        <tr>
                            <td>
                                <textarea id="smartEditor" name="noticeContent" style=" height:500px; ">
                                     {{notice.NoticeContent}}
                                </textarea>
                            </td>
                        </tr>
                    </table>
                </div>

                <div>
                    <button class="back-btn save" id="savebutton">수정완료</button>
                    <button class="back-btn save" id="Listbtn">수정취소</button>
                </div>
            </form>
        </div>
         <br><br><br>
        
	</div>
{{>common/footer}}
</body>
</html>