<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>19시 :: 찜한 리스트</title>
<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">

	<link rel="stylesheet" href="/css/member/userHeartList.css">
	<script type="text/javascript" src="/js/member/userHeartList.js"></script>

</head>
<body>
	<div class="header">
		{{>common/header}}
	</div>
    <div class="page-wrap">
        <!-- 사이드메뉴 -->
		{{>member/mypage-side}}
        
	     <div class="board-wrap">
	        <div class="board-box">
	            <span>찜한 서비스</span>
	            <input type="text" style="display:none" value="{{loginMember.memberNo}}" id="mNo">
	            <input type="text" style="display:none" value="{{order}}" id="order">
	            <select name="array" class="array" id="array-select">
	                <option value="all">전체</option>
	                <option value="priceDown">가격낮은순</option>
	                <option value="priceUp">가격높은순</option>
	                <option value="new">서비스최신순</option>
	            </select>
	        </div>
	
	        <div class="container-box">
                {{^list}}
                    <div class="noList" style="width:800px">찜한 서비스가 없습니다</div>
                {{/list}}

                {{#list}}
                    <div>
                        <div>
                            <a href="/serviceView?serviceNo={{serviceNo}}&reqPage=1&memberNo={{loginMember.memberNo}}">
                            <div class="title-img">
                                <div class="back-img">
                                    <img src="/upload/service/{{serviceImg}}" width="225x" height="133px">
                                </div>
                            </div>
                            </a>
                            <div class="title-img heart-btn">
                                <img id="service1" src="/img/icon/heart_orange.png" width="31px" height="31px" onclick="heart_click(this)" value="fill">
                                <input type="text" style="display:none" value="{{serviceNo}}">
                                <input type="text" style="display:none" value="{{loginMember.memberNo}}">
                            </div>
                        </div>
                        <div class="empty"></div>
                        <div class="title">{{brand}}</div>
                        <a href="/serviceView?serviceNo={{serviceNo}}&reqPage=1&mNo={{loginMember.memberNo}}" id="serviceContent">
                        <div class="content">{{serviceTitle}}</div>
                        <div class="price">{{servicePrice}}</div>
                        <div class="rate">
                            <span>평점 </span><span>{{SRate}}</span><span>.0점</span><span>★★★★★</span>
                        </div>
                        </a>
                    </div>
                {{/list}}
	        </div>
	    </div>
	</div>

	<br><br><br>
	{{>common/footer}}

</body>
</html>