.main-top-info-container {
    margin-top: 40px;
    padding: 20px 0;
    width: 1200px;
    overflow: hidden;
    background-color: #F2F3F7;
}

.top-info-left {
    width: 20%;
    float: left;
}
.top-info-left-title{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 200px;
    font-size: 16px;
}
.top-info-left-title>span{
    font-weight: bold;
}


.main-top-info-container .bannerArrow {
    /* height: 200px; */
}

.main-top-info-container>.banner-container {
    margin: 0;
    width: 60%;
    float: left;
    border-radius: 5px;
}

.main-top-info-container .banner-container img {
    height: 250px;
    border-radius: 5px;
}

.main-top-info-container .banner-prev,
.main-top-info-container .banner-next {
    line-height: 250px;
}

.main-top-info-container>.member-info-container {
    width: 18%;
    height: 230px;
    float: left;
}

.member-info-container {
    margin-top: 15px;
    margin-left: 20px;
    padding-right: 20px;
}

.member-info-name {
    font-size: large;
}

.member-info-name>span {
    font-weight: bold;
}
.member-info-buying{
    font-size: 14px;
    margin: 10px 0;
}
.member-info-buying>span,
.member-info-selling>span{
    display: inline-block;
    float: right;
}

.member-info-buying>span>span,
.member-info-selling>span>span{
    color: #314C83;
    font-weight: bold;
    font-size: 15px;
}
.request-container {
    text-align: left;
    padding-left: 15px;
    margin: 0 auto;
    border-radius: 5px;
    width: 200px;
    height: 60px;
    line-height: 60px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
}

.request-container>a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #282828;
}

.single-banner1{
    margin-top: 80px;
    width: 100%;
    /* height: 300px; */
}
.single-banner1>img{
    width: 100%;
    height: 190px;
    object-fit:cover;
    object-position: 50% 10%;
}