
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

    <!-- jQuery  -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="/css/freelancer/freelancerServiceList.css">
    <script type="text/javascript" src="/js/freelancer/freelancerServiceList.js"></script>

<title>19시 :: 나의 서비스</title>
</head>
<body>
	<div class="header">
        {{> common/header}}
	</div>
	<div class="page-wrap">
		<!-- 사이드메뉴 -->
        {{> freelancer/freelancer-side}}

		<input type="hidden" value="{{loginMember.memberId}}" class="memberId">
        <input type="hidden" value="{{order}}" id="order">
		<div class="board-wrap">
			<div class="board-box">
				<span>서비스 내역</span>
				<select class="selectBox form-control array" id="search-subject" style="width: 150px;">
					<option value="approved">승인된 서비스</option>
					<option value="rejected">미등록 서비스</option>
				</select>
			</div>
			<div class="inner">
				<div class="ListContainer">

                    {{#list}}
                        <div>
                            <div>
                                <input type="hidden" value="{{serviceNo}}" id="sNo">
                                <a href="/serviceView?serviceNo={{serviceNo}}&reqPage=1">
                                <div class="title-img">
                                    <div class="back-img">
                                        <img src="/upload/service/{{serviceImg}}" width="225px" height="133px">
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="empty"></div>
                            <div class="cate">
                                {{mainCategoryName}} / {{subCategoryName}}
                            </div>
                            <div class="title">
                                <a href="/serviceView?serviceNo={{serviceNo}}&reqPage=1">
                                {{serviceTitle}}
                                </a>
                            </div>
                            <a href="#">
                                <div class="content" style="font-size: 12pt; float: right; width: 200px; text-align: right;">
                                    {{servicePrice}}원~
                                </div>
                            </a>
                            <button class="del-btn" value="삭제하기" onclick="del();">삭제하기</button>
                        </div>
                    {{/list}}


                    {{^list}}
                        <div class="noList" style="width: 800px">등록된 서비스가 없습니다.</div>
                    {{/list}}


                </div>
			</div>
		</div>
	</div>

	<br>
	<br>
	<br>
    {{>common/footer}}
</body>
</html>